<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="product_style.css">
    <title>Product app</title>
</head>
<body>
    <div class="nav-bar"></div>
    
    <div id="app">
        <div class="product">
        <div class="product-image">
            <img v-bind:src="image">
        </div>
        <div class="product-info">
        <h1>{{product}}</h1>
        <p>{{description}}</p>
        <ul>
            <li v-for="detail in details">{{ detail }}</li>
        </ul>
        <ul>
            <li v-for="size in sizes">
                {{ size }}
            </li>
        </ul>
        <div 
        v-for="variant in variants" 
        :key="variant.variantId"
        class="color-box"
        :style="{ backgroundColor: variant.variantColor}"
        @mouseover="updateProduct(variant.variantImage)">
        </div>
        <button v-on:click="addToCart" :disabled="!inStock"
        :class="{ disabledButton: !inStock}">Add to Cart</button>
        <button v-on:click="removeFromCart">Remove Item from Cart</button>
        <dic class="cart"><p>Cart: {{ cart }}</p></dic>
        <a v-bind:href="link">{{link}}</a>
        <p v-if="inventory > 10">In Stock</p>
        <span v-if="onSale">On Sale!</span>
        <!-- <p v-show="inStock">In Stock</p> -->
        <p v-else-if='inventory <= 10 && inventory > 0'>Almost Sold Out!</p>
        <p v-else :class="{ outOfStock: !inStock }">Out of Stock</p>
    </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./main.js"></script>
</body>
</html>